export(cpath)
export(cpaths)
export(transition)
export(importance)
export(cpath_rl) 
export(cpaths_qlearning) 
export(cpaths_tdlearning)
export(cpaths_monte_carlo)
export(sim)
export(sim2)
export(sim3)
export(sim4)
export(sim5)
export(sim7)